TG_LOGGING_BOT_TOKEN="dsdsdsdsdsdtokentokentoken"
TG_LOGGING_CHAT_ID=-100000000000000

HOST_IP_ADDRESS="127.0.0.1"

ADMINS_TELEGRAM_USERNAMES="@onetimeusername @nerd @myth"

SSL_KEYFILE_PATH="./key.pem"
SSL_CERTFILE_PATH="./cert.pem"