TG_LOGGING_BOT_TOKEN="dsdsdsdsdsdtokentokentoken"
TG_LOGGING_CHAT_ID=-100000000000000


ADMINS_TELEGRAM_USERNAMES="@onetimeusername @nerd @myth"


SSL_KEYFILE_PATH="./key.pem"
SSL_CERTFILE_PATH="./cert.pem"


HOST_PORT=8001