@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: AntipastoPro;
    src: url('../fonts/AntipastoPro-DemiBold.woff2') format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.Temnomor_title, .Temnomor_title p
{
    font-family: AntipastoPro, sans-serif !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36pt;
    margin-top: 20px;
    color: #66a0ff;
}

a:visited, a
{
    color: #66a0ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
}

body {
    background: #c7dcff;
}

::selection {
    color: #fff;
    background: #4285f4;
}

.wrapper {
    width: 370px;
    margin: 85px auto 0;
}

.wrapper2 {
    width: 370px;
    margin: 20px auto 0;
}

.wrapper3 {
    width: 370px;
    margin: 20px auto 0;
}

.wrapper4 {
    width: 370px;
    margin: 20px auto 0;
}

.select-btn, a {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.select-btn {
    height: 65px;
    padding: 0 20px;
    font-size: 22px;
    background: #fff;
    border-radius: 30px;
    justify-content: space-between;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.select-btn i {
    font-size: 31px;
    transition: transform 0.3s linear;
}

.wrapper.active .select-btn i {
    transform: rotate(-180deg);
}

.wrapper2.active .select-btn i {
    transform: rotate(-180deg);
}

.wrapper3.active .select-btn i {
    transform: rotate(-180deg);
}

.wrapper4.active .select-btn i {
    transform: rotate(-180deg);
}

.content {
    display: none;
    padding: 20px;
    margin-top: 15px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.wrapper.active .content {
    display: block;
    border-radius: 30px;
}

.wrapper2.active .content {
    display: block;
    border-radius: 30px;
}

.wrapper3.active .content {
    display: block;
    border-radius: 30px;
}

.wrapper4.active .content {
    display: block;
    border-radius: 30px;
}

.content .search {
    position: relative;
}

.search i {
    top: 50%;
    left: 15px;
    color: #999;
    font-size: 20px;
    pointer-events: none;
    transform: translateY(-50%);
    position: absolute;
}

.search input {
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 17px;
    border-radius: 20px;
    padding: 0 20px 0 43px;
    border: 1px solid #B3B3B3;
}

.search input:focus {
    padding-left: 42px;
    border: 2px solid #4285f4;
}

.search input::placeholder {
    color: #bfbfbf;
}

.content .options {
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding-right: 7px;
}

.options::-webkit-scrollbar {
    width: 7px;
}

.options::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.options::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.options::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}

.options a {
    height: 50px;
    padding: 0 13px;
    font-size: 21px;
    color: black;
    text-decoration: none;
}

.options a:hover, a.selected {
    border-radius: 5px;
    background: #f2f2f2;
}

#academic_calendar
{
  display: inline-block;
}
.academic_calendar
{
  margin-top: 20px;
  font-size: 12pt;
}

.weather_wrapper {
    margin: 10px;
}

#copyright, #copyright-link
{
  font-size: 9pt !important;
}

#copyright-link
{
    display: inline-block;
}

.copyright-class
{
    position:absolute;
    bottom: 0;
    text-align: center;
    margin: auto;
}

.copyright-class p
{
    text-align: center;
}

.wrapper4 span
{
    font-size: 20px;
}

.tgbot_link
{
    margin-top: 85px;
}

.vkbot_link
{
    margin-top: 10px;
    margin-bottom: 10px;
}
